.frame {
  display: flex;
  flex-direction: column;
  background-color: #3d2828;
  border-radius: 0px 20px 0px 0px;
  height: 620px;
  width: 261px;
  align-items: center;
}

.ellipse {
  display: flex;
  background-color: #ffffff;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.first-letter{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.user-name{
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 16px;
  margin-top: 15px;
}